<!DOCTYPE html>
<html lang="en">
  <header class="box">
    <div class="header-margin">
      <a class="back-icon" href="index.html">
        <i
          class="fa fa-chevron-circle-left fa-3x"
          style="padding-top:18px;padding-left: 15px"
          aria-hidden="true"
        ></i>
      </a>
      <ul class="social-icon">
        <div class="social-index" style="padding-right:15px">
          <li>
            <a href="download/resume_lynnli.pdf" target="_blank"
              ><i class="fa fa-file" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://baconwarrior.itch.io/" target="_blank"
              ><i aria-hidden="true" class="fab fa-itch-io"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/leelightman" target="_blank"
              ><i class="fab fa-github-alt"></i
            ></a>
          </li>
          <li>
            <a href="https://ca.linkedin.com/in/lynn-li" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </div>
      </ul>
    </div>
  </header>
</html>
